<section class="about" id="about">
  <div class="container">
    <h2 class="title about__title">
      Об акселераторе IT бизнеса
    </h2>
    <p class="about__descr">
      Программа акселератора расчитана на 8 недель интенсивного онлайн курса с вебинарами приглашенных экспертов по
      международным рынкам, разборами ваших идей и проектов
    </p>

    <div class="about__box">
      <div class="about__item">
        <img src="img/about_01.svg" alt="3">
        <span>Месяца обучения</span>
      </div>
      <div class="about__item">
        <img src="img/about_02.svg" alt="3">
        <span>Приглашенные эксперты</span>
      </div>
      <div class="about__item">
        <img src="img/about_03.svg" alt="3">
        <span>Персональный менеджер</span>
      </div>
    </div>

    <div class="about__video-block video-block">
      <span class="video-block__caption">Об акселерационной программе</span>
      <button class="video-block__btn btn-reset">
        <svg class="video-block__svg">
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <video class="video-block__video" src="video_01.mp4" muted loop preload="metadata"></video>
    </div>
  </div>
</section>