<section class="consultation">
  <div class="consultation__container">
    <h2 class="consultation__title">
      <span>
        Научитесь исследовать иностранные рынки
        и откройте новые возможности для своего бизнеса
      </span>
    </h2>
    <span class="consultation__caption">Наша команда поможет вам изучить рынки Ближнего Востока, Азии, Латинской Америки
      и Африки</span>
    <a href="#" class="consultation__btn btn btn-reset btn--gradient">Получить консультацию</a>
  </div>
</section>