<section class="entry">
  <div class="container entry__container">
    <div class="entry__left">
      <h2 class="entry__title">Попадите на радары инвесторов и партнеров</h2>
      <p class="entry__descr">В результате прохождения обучения мы создадим профили вашей компании на всех международных
        скаутинговых площадках</p>

      <a href="#" class="entry__btn btn btn-reset">Записаться в акселератор</a>
    </div>

    <div class="entry__right">
      <a href="#"><img src="img/entry_01.svg" alt="Лого партнера" class="entry__right-img"></a>
      <a href="#"><img src="img/entry_02.svg" alt="Лого партнера" class="entry__right-img"></a>
      <a href="#"><img src="img/entry_03.svg" alt="Лого партнера" class="entry__right-img"></a>
      <a href="#"><img src="img/entry_04.svg" alt="Лого партнера" class="entry__right-img"></a>
      <a href="#"><img src="img/entry_05.svg" alt="Лого партнера" class="entry__right-img"></a>
      <a href="#"><img src="img/entry_06.svg" alt="Лого партнера" class="entry__right-img"></a>
    </div>
  </div>
</section>