<section class="events" id="events">
  <div class="container">
    <h2 class="events__title title">Мероприятия и события</h2>

    <div class="events__box">
      <a href="#" class="events__item">
        <img src="img/events_01.svg" alt="Мероприятие">
        <div class="events__item-content">
          <h3 class="events__item-title">Новый отчет по MENA</h3>
          <p class="events__item-descr">
            Аналитический отчет по рынкам
            Ближнего Востока (инвесторы,
            объем раундов, ТОП сферы)
          </p>
          <time datetime="2022-17-22T20:00:00">22.11.2022</time>
        </div>
      </a>

      <a href="#" class="events__item">
        <img src="img/events_02.svg" alt="Мероприятие">
        <div class="events__item-content">
          <h3 class="events__item-title">Вебинар по особенностям
            рынков Ближнего Востока</h3>
          <p class="events__item-descr">
            Поговорим с экспертами рынков
            в формате дискуссии
          </p>
          <time datetime="2022-17-22T20:00:00">22.11.2022</time>
        </div>
      </a>

      <a href="#" class="events__item">
        <img src="img/events_03.svg" alt="Мероприятие">

        <div class="events__item-content">
          <h3 class="events__item-title">Вебинар по особенностям
            рынков Ближнего Востока</h3>
          <p class="events__item-descr">
            Поговорим с экспертами рынков
            в формате дискуссии
          </p>
          <time datetime="2022-17-22T20:00:00">22.11.2022</time>
        </div>
      </a>
    </div>
  </div>
</section>