<section class="experts">
  <div class="container experts__container">
    <h2 class="experts__title title">Эксперты и трекеры программы</h2>

    <div class="swiper experts__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_01.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Юрий Ким</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>

        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_02.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Эшли Абрамс</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>

        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_03.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Фатими Юсуф</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>

        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_04.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Майкл Донован</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>
        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_01.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Юрий Ким</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>

        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_02.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Эшли Абрамс</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>

        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_03.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Фатими Юсуф</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>

        <div class="swiper-slide experts__slide">
          <img src="img/experts_slide_04.svg" alt="фото эксперта" class="experts__slide-img">
          <div class="experts__slide-name">Майкл Донован</div>
          <p class="experts__slider-descr">
            Проведение исследования целевой аудитории позволит сформировать Product market fit
          </p>
        </div>
      </div>

    </div>

    <div class=" experts__slider-next experts__slider-control-btn"></div>
    <div class=" experts__slider-prev experts__slider-control-btn"></div>

    <div class=" experts__slider-next-mobile "><img src="img/slider-next.svg" alt=""></div>
    <div class=" experts__slider-prev-mobile "><img src="img/slider-prev.svg" alt=""></div>
  </div>
</section>