<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <div class="logo footer__logo">
        <a href="index.html">innoma.<span>vc</span></a>
      </div>
      <div class="footer__copy">Все права защищены</div>
    </div>

    <nav class="nav footer__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="who-we" class="nav__link">Кто мы?</a></li>
        <li class="nav__item"><a href="services" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="about" class="nav__link">Акселератор</a></li>
        <li class="nav__item"><a href="events" class="nav__link">Новости</a></li>
      </ul>
    </nav>

    <div class="footer__contacts">
      <address class="footer__address"><a href="#">Dubai, Single Business Tower 1503, Business Bay</a>
      </address>
      <a href="mailto:sales@innoma.vc" class="footer__email">Sales@innoma.vc</a>
    </div>
  </div>
</footer>