<header class="header">
  <div class="container header__container">
    <div class="header__logo logo">
      <a href="index.html">innoma.<span>vc</span></a>
    </div>

    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="who-we" class="nav__link">Кто мы?</a></li>
        <li class="nav__item"><a href="services" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="about" class="nav__link">Акселератор</a></li>
        <li class="nav__item"><a href="events" class="nav__link">Новости</a></li>
      </ul>
    </nav>




    <div class="header__btns">
      <button type="button" class="btn btn-reset header__btn" data-graph-path="1">Войти</button>
      <button class="mobile-menu mobile-menu-open btn-reset" aria-label="Открыть меню" aria-expanded="false">
        <img src="img/burger-open.svg" alt="">
      </button>
      <button class="mobile-menu mobile-menu-close btn-reset" aria-label="Открыть меню" aria-expanded="false">
        <img src="img/burger-close.svg" alt="">
      </button>
    </div>
  </div>


</header>