<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-content">
      <h2 class="modal-content__title">Вход</h2>

      <form action="#" class="modal-content__form modal-form">
        <label class="modal-form__label">
          <input class="modal-form__input input-reset" type="email" placeholder="E-маил">
        </label>
        <label class="modal-form__label">
          <input class="modal-form__input input-reset" type="password" placeholder="Пароль">
        </label>

        <button class="btn btn-reset modal-form__btn" type="submit">Войти</button>

        <a href="#" class="modal-form__link">Зарегистрироваться</a>
      </form>


    </div>
  </div>
</div>