<section class="partners">
  <div class="container">
    <h2 class="partners__title title">Наши партнеры</h2>

    <div class="partners__box">
      <div class="partners__item">
        <a href="#"><img src="img/partners_01.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_02.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_03.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_04.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_05.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_06.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_07.svg" alt="Лого партнера"></a>
      </div>
      <div class="partners__item">
        <a href="#"><img src="img/partners_08.svg" alt="Лого партнера"></a>
      </div>
    </div>
  </div>
</section>