<section class="price">
  <div class="container">
    <h2 class="title price__title">Стоимость</h2>

    <div class="price__box">
      <div class="price__item">
        <div class="price__content">
          <div class="price__item-top">
            <img src="img/price_01.svg" alt="Декор" class="price__item-img">
            <h3 class="price__item-title">Анализ международных
              рынков </h3>
          </div>

          <h4 class="price__list-title">Что входит в отчет?</h4>
          <ul class="price__list list-reset">
            <li class="price__list-item">1. Анализ конкурентов</li>
            <li class="price__list-item">2. Анализ инвесторов</li>
            <li class="price__list-item">3. Размеры рынка (TAM,SAM,SOM)</li>
            <li class="price__list-item">4. Анализ СМИ</li>
            <li class="price__list-item">5. Анализ запрос в сети интернет</li>
          </ul>

          <div class="price__info">
            <div class="price__info-item">
              Готовность <span>7 раб. дней</span>
            </div>

            <div class="price__info-item">
              Язык <span>рус. / англ.</span>
            </div>

            <div class="price__info-item">
              Стоимость <span>$1 000 </span>
            </div>

          </div>
        </div>
        <a href="#" class="price__btn btn btn--gradient btn-reset">
          Оставить заявку
        </a>
      </div>

      <div class="price__item">
        <div class="price__content">
          <div class="price__item-top">
            <img src="img/price_02.svg" alt="Декор" class="price__item-img">
            <h3 class="price__item-title">Упаковка стартапа
              под локальные рынки</h3>
          </div>

          <h4 class="price__list-title">Что входит в услугу?</h4>
          <ul class="price__list list-reset">
            <li class="price__list-item">1. Анализ локальных рынков</li>
            <li class="price__list-item">2. Бизнес план</li>
            <li class="price__list-item">3. Питч презентация</li>
            <li class="price__list-item">4. Финансовый план </li>
            <li class="price__list-item">5. Расчет юнит экономики</li>
            <li class="price__list-item">6. Проведение каст дева </li>
          </ul>

          <div class="price__info">
            <div class="price__info-item">
              Готовность <span>7 раб. дней</span>
            </div>

            <div class="price__info-item">
              Язык <span>рус. / англ.</span>
            </div>

            <div class="price__info-item">
              Стоимость <span>$1 000 </span>
            </div>

          </div>
        </div>
        <a href="#" class="price__btn btn btn--gradient btn-reset">
          Оставить заявку
        </a>
      </div>

      <div class="price__item">
        <div class="price__content">
          <div class="price__item-top">
            <img src="img/price_03.svg" alt="Декор" class="price__item-img">
            <h3 class="price__item-title">Акселератор
              вашего бизнеса</h3>
          </div>

          <h4 class="price__list-title">Что входит в акселератор?</h4>
          <ul class="price__list list-reset">
            <li class="price__list-item">2. Онлайн доступ к курсам</li>
            <li class="price__list-item">1. Документы для бизнеса</li>
            <li class="price__list-item">3. Питч презентация</li>
            <li class="price__list-item">4. Демо день </li>
            <li class="price__list-item">5. Провдижение по результатам </li>
          </ul>

          <div class="price__info">
            <div class="price__info-item">
              Готовность <span>7 раб. дней</span>
            </div>

            <div class="price__info-item">
              Язык <span>рус. / англ.</span>
            </div>

            <div class="price__info-item">
              Стоимость <span>$1 000 </span>
            </div>

          </div>
        </div>
        <a href="#" class="price__btn btn btn--gradient btn-reset">
          Оставить заявку
        </a>
      </div>

    </div>
</section>