<section class="programs">
  <div class="container">
    <h2 class="programs__title title">Программа акселератора</h2>

    <div class="programs__accordion accordion">
      <div class="accordion__item">
        <h3 class="accordion__title active">
          <span class="accordion__accent">Модуль 1</span>
          <span class="accordion__main">Тенденции и тренды современного</span>
          <span class="accordion__timeline">4 недели</span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset active">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 2</span>
          <span class="accordion__main">Стартап подход к созданию международного IT продукта


          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 3</span>
          <span class="accordion__main">Бизнес моделирование и поиск Product Market Fit

          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 4</span>
          <span class="accordion__main">Определение рынка, поиск и исследование Целевой аудитории
          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 5</span>
          <span class="accordion__main">Что такое MVP и почему это важно
          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 6</span>
          <span class="accordion__main">Unit экономика и финансовое моделирование

          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 7</span>
          <span class="accordion__main">Что такое дорожная карта продукта?
          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 8</span>
          <span class="accordion__main">Документы дя международных инвесторов
          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Модуль 9</span>
          <span class="accordion__main">Открытие юридического лица. Возможности для стартапов
          </span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

      <div class="accordion__item">
        <h3 class="accordion__title">
          <span class="accordion__accent">Демо день</span>
          <span class="accordion__main"></span>
          <span class="accordion__timeline"></span>
          <span class="accordion__btn "></span>
        </h3>

        <ul class="accordion__body list-reset ">
          <li class="accordion__body-item">
            Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний
          </li>
          <li class="accordion__body-item">
            Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
          </li>
          <li class="accordion__body-item">
            3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
          </li>
          <li class="accordion__body-item">
            <a href="#">9 видео роликов, вебинар с приглашенным экспертом</a>
          </li>

        </ul>
      </div>

    </div>

    <a href="#" class="btn btn-reset btn--gradient programs__btn">Получить полную программу</a>
  </div>
</section>