<section class="questions">
  <div class="container questions__container">

    <div class="questions__left">
      <div class="questions__head">
        <h2 class="questions__title">Остались вопросы?</h2>
        <span class="questions__caption">Оставьте заявку и наша команда свяжется с вами</span>
      </div>

      <div class="questions__social">
        <h3 class="questions__social-title">Или напишите нам:</h3>

        <div class="questions__social-btns">

          <a class="telegram" href="https://telegram.org/">
            <img src="img/telegram.svg" alt="Телеграм">
            <span>Telegram</span>
          </a>

          <a class="wthasapp" href="https://www.whatsapp.com/">
            <img src="img/whatsapp.svg" alt="Вотсап">
            <span>Whatsapp</span>
          </a>
        </div>

      </div>

    </div>

    <form class="form questions__right">
      <label class="form__label">
        <input class="form__input input-reset" type="text" name="name" required placeholder="Имя">
      </label>
      <label class="form__label">
        <input class="form__input input-reset" type="email" name="email" required placeholder="Почта">
      </label>
      <label class="form__label phone__label">
        <input class="form__input input-phone input-reset" type="tel" name="phone" required value="(971)">
        <buttn class="btn-reset btn-open"><img class="arrow" src="img/arrow.svg" alt=""></buttn>
        <img class="flag" src="img/flag.svg" alt="">

        <ul class="phone-list list-reset">
          <li class="phone-item">
            <button class="btn-reset btn-add">
              <span class="phone-value">(547)</span>
              <img class="flag-inner" src="img/flag.svg" alt="">
            </button>
          </li>
          <li class="phone-item">
            <button class="btn-reset btn-add">
              <span class="phone-value">(551)</span>
              <img class="flag-inner" src="img/flag.svg" alt="">
            </button>
          </li>
          <li class="phone-item">
            <button class="btn-reset btn-add">
              <span class="phone-value">(315)</span>
              <img class="flag-inner" src="img/flag.svg" alt="">
            </button>
          </li>
          <li class="phone-item">
            <button class="btn-reset btn-add">
              <span class="phone-value">(671)</span>
              <img class="flag-inner" src="img/flag.svg" alt="">
            </button>
          </li>
          <li class="phone-item">
            <button class="btn-reset btn-add">
              <span class="phone-value">(971)</span>
              <img class="flag-inner" src="img/flag.svg" alt="">
            </button>
          </li>
        </ul>
      </label>

      <button type="submit" class="btn btn-reset form__btn">Оставить заявку</button>

    </form>

  </div>
</section>