<section class="services" id="services">
  <div class="container">
    <h2 class="services__title title">Наши услуги</h2>
    <div class="services__box">
      <div class="services__item">
        <div class="services__item-content">
          <h3 class="services__item-title">Аналитические исследования</h3>
          <p class="services__item-descr">
            Одним из наших ключевых направлений является анализ технологических трендов на международных рынках.
            Мы проводим анализ на основе публичных исследований McKinsey, BCG, PWC, Deloitte, Accenture, BCG, EY,
            Crunchbase, Dealroom, F6S, PitchBook а также агрегируем и анализируем данные из открытых международных
            источников патенты, медиа, научные публикации
          </p>
          <a href="#" class="btn btn-reset services__item-btn">Узнать подробнее</a>
        </div>
        <div class="services__item-img">
          <img src="img/services_01.png" alt="Графики" aria-hidden="true">
        </div>
      </div>
      <div class="services__item">
        <div class="services__item-img">
          <img src="img/services_02.png" alt="Ракета" aria-hidden="true">
        </div>

        <div class="services__item-content">
          <h3 class="services__item-title">Онлайн акселератор для IT бизнеса</h3>
          <p class="services__item-descr">
            Онлайн программа аскелерации IT бизнеса позволит вашей команде открыть новые горизонты и возможности для
            бизнеса на глобальных рынках. В результате программы вы получите возможность презентовать свой проект для
            международных инвесторов и локальных партнеров
          </p>
          <a href="#" class="btn btn-reset services__item-btn">Узнать подробнее</a>
        </div>

      </div>
    </div>
  </div>
</section>