<section class="submission">
  <div class="container">
    <div class="submission__title title">Для кого мы?</div>
    <div class="submission__box">
      <div class="submission__item">
        <div class="submission__item-num">01</div>
        <h3 class="submission__item-title">IT проекты на стадии идеи</h3>
        <p class="submission__item-descr">Для стартапов, которые планируют привлечь международные инвестиции,
          протестировать спрос и запустить продукт</p>
      </div>
      <div class="submission__item">
        <div class="submission__item-num">02</div>
        <h3 class="submission__item-title">Инновационный бизнес</h3>
        <p class="submission__item-descr">Для уже работающего технологического бизнес, позволим найти новые международне
          рынки сбыта, масштабировать бизнес</p>
      </div>
      <div class="submission__item">
        <div class="submission__item-num">03</div>
        <h3 class="submission__item-title">Корпорации</h3>
        <p class="submission__item-descr">Для уже работающего технологического бизнес, позволим найти новые международне
          рынки сбыта, масштабировать бизнес</p>
      </div>
    </div>
  </div>
</section>