<section class="who-we" id="who-we">
  <div class="container">
    <h2 class="who-we__title title">Кто мы?</h2>

    <div class="who-we__top">
      <img src="img/who-we_01.svg" alt="Окно програмы" class="who-we__top-img" aria-hidden="true">

      <div class="who-we__top-content">
        <p>
          <a href="index.html">INNOMA.VC</a> - Международное аналитическое агентство по запуску IT бизнеса на локальных
          рынках
          регионов Азии,
          Ближнего Востока, Латинской Америки, Африки.
        </p>
        <p>
          Наша команда состоит из профессионалов своего дела и основной нашей целью является помощь IT компаниям
          получить необходимые знания и пакеты документов, чтобы успешно запустить свой продукт на международных рынках.
        </p>
      </div>
      <div class="who-we__top-content who-we__top-content--mobile">
        <p>
          <a href="index.html">Иннома</a> - международное аналитическое агентство направленное на помощь стартапам в в
          поиске
          инвесторов, партнеров в регионах Ближнего Востока и Юго-Восточной Азии
          Нашей командой пройдено более 20 акселераторов, бизнес инкубаторов и мы знаем как сделать продукт эффективным
          для вас
        </p>
      </div>



    </div>

    <div class="who-we__bot">
      <img src="img/who-we_02.svg" alt="" class="who-we__bot-img">

      <div class="who-we__bot-content">
        <blockquote class="who-we__quote">
          <span>Всем привет!</span>
          <p>
            Меня зовут Роман. Последние 6 лет я являюсь частью
            инновационной экосистемы СНГ, прошел путь от проектного
            менеджера до руководителя продукта по автоматизированному скаутингу и скорингу стартапов. За 6 лет работы я
            увидел множество ошибок и отсутствие ориентации акселерационных программ под запросы стартапов. Все
            акселераторы выполнялись ради акселераторв и выполнения КПЭ.
          </p>


        </blockquote>
        <div class="who-we__bot-info">
          <span class="who-we__bot-name">Роман Гайн</span>
          <span class="who-we__bot-position">Основатель INNOMA.VC</span>
        </div>

      </div>

    </div>

    <div class="swiper who-we__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/who-we_slide-01.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-02.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-03.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-04.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-05.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-01.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-02.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-03.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-04.svg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/who-we_slide-05.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>