<section class="work">
  <div class="container">
    <h2 class="work__title title">С какими рынками мы работаем?</h2>

    <div class="work__tabs tabs">
      <div class="tabs__nav">
        <button class="tabs__nav-btn btn-reset active" data-tab="tab-1">Ближний восток</button>
        <button class="tabs__nav-btn btn-reset" data-tab="tab-2">Азия</button>
        <button class="tabs__nav-btn btn-reset" data-tab="tab-3">Латинская Америка</button>
        <button class="tabs__nav-btn btn-reset" data-tab="tab-4">Африка</button>
      </div>

      <div class="tabs__body active" id="tab-1">
        <div class="tabs__body-left">
          <h3 class="tabs__body-title">Чем интересен
            <span>Рынок MENA:</span>
          </h3>
          <p class="tabs__body-descr">
            ОАЭ, Саудовская Аравия,
            Израиль, Оман, Бахрейн, Катар,
            Тунис, Йемен, Египет, Алжир
          </p>
          <a href="#" class="tabs__body-btn btn btn-reset btn--gradient">Выйти на рынок</a>
          <div class="tabs__body-employee employee">
            <div class="employee__photo">
              <img src="img/employee_img.svg" alt="Фото сотрудника">
            </div>
            <div class="employee__caption">
              <span class="employee__name">Фатима</span>
              <span class="employee__position">Менеджер по MENA</span>
            </div>
          </div>
        </div>

        <div class="tabs__body-right">
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;5,5
              <span>Млрд</span>
            </div>
            <span class="tabs__body-caption">Инвестиции pre-seed, seed</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;300

            </div>
            <span class="tabs__body-caption">Акселераторов, инкубаторов</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">73
            </div>
            <span class="tabs__body-caption">Венчурных фонда</span>
          </div>
          <div class="tabs__body-item tabs__body-item--link">
            <a href="#" class="tabs__body-download">
              <img src="img/download_icon.svg" alt="Скачать" class="tabs__body-img">
              <span>Скачать отчет
                по рынку MENA</span>
            </a>
          </div>
        </div>
        <a href="#" class="tabs__body-btn btn btn-reset btn--gradient tabs__body-btn--mobile">Выйти на рынок</a>
      </div>

      <div class="tabs__body " id="tab-2">
        <div class="tabs__body-left">
          <h3 class="tabs__body-title">Чем интересен
            <span>Рынок MENA:</span>
          </h3>
          <p class="tabs__body-descr">
            Китай, Япония,
            Южная Корея, Малайзия, Индия, Пакистан,
            Тайвань, Вьетнам, Мьянма, Индонезия
          </p>
          <a href="#" class="tabs__body-btn btn btn-reset btn--gradient">Выйти на рынок</a>
          <div class="tabs__body-employee employee">
            <div class="employee__photo">
              <img src="img/employee_img.svg" alt="Фото сотрудника">
            </div>
            <div class="employee__caption">
              <span class="employee__name">Синь Джу</span>
              <span class="employee__position">Менеджер по MENA</span>
            </div>
          </div>
        </div>

        <div class="tabs__body-right">
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;5,5
              <span>Млрд</span>
            </div>
            <span class="tabs__body-caption">Инвестиции pre-seed, seed</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;300

            </div>
            <span class="tabs__body-caption">Акселераторов, инкубаторов</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">73
            </div>
            <span class="tabs__body-caption">Венчурных фонда</span>
          </div>
          <div class="tabs__body-item tabs__body-item--link">
            <a href="#" class="tabs__body-download">
              <img src="img/download_icon.svg" alt="Скачать" class="tabs__body-img">
              <span>Скачать отчет
                по рынку MENA</span>
            </a>
          </div>
        </div>
        <a href="#" class="tabs__body-btn btn btn-reset btn--gradient tabs__body-btn--mobile">Выйти на рынок</a>
      </div>



      <div class="tabs__body " id="tab-3">
        <div class="tabs__body-left">
          <h3 class="tabs__body-title">Чем интересен
            <span>Рынок MENA:</span>
          </h3>
          <p class="tabs__body-descr">
            Бразилия, Аргентина,
            Чили, Перу, Колумбия, Венисула

          </p>
          <a href="#" class="tabs__body-btn btn btn-reset btn--gradient">Выйти на рынок</a>
          <div class="tabs__body-employee employee">
            <div class="employee__photo">
              <img src="img/employee_img.svg" alt="Фото сотрудника">
            </div>
            <div class="employee__caption">
              <span class="employee__name">Алише</span>
              <span class="employee__position">Менеджер по MENA</span>
            </div>
          </div>
        </div>

        <div class="tabs__body-right">
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;5,5
              <span>Млрд</span>
            </div>
            <span class="tabs__body-caption">Инвестиции pre-seed, seed</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;300

            </div>
            <span class="tabs__body-caption">Акселераторов, инкубаторов</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">73
            </div>
            <span class="tabs__body-caption">Венчурных фонда</span>
          </div>
          <div class="tabs__body-item tabs__body-item--link">
            <a href="#" class="tabs__body-download">
              <img src="img/download_icon.svg" alt="Скачать" class="tabs__body-img">
              <span>Скачать отчет
                по рынку MENA</span>
            </a>
          </div>
        </div>
        <a href="#" class="tabs__body-btn btn btn-reset btn--gradient tabs__body-btn--mobile">Выйти на рынок</a>
      </div>


      <div class="tabs__body " id="tab-4">
        <div class="tabs__body-left">
          <h3 class="tabs__body-title">Чем интересен
            <span>Рынок MENA:</span>
          </h3>
          <p class="tabs__body-descr">
            ЮАР, Нигерия,
            Самали, Тунис, Камерун, Алжир,
            Ангола, Намибия
          </p>
          <a href="#" class="tabs__body-btn btn btn-reset btn--gradient">Выйти на рынок</a>
          <div class="tabs__body-employee employee">
            <div class="employee__photo">
              <img src="img/employee_img.svg" alt="Фото сотрудника">
            </div>
            <div class="employee__caption">
              <span class="employee__name">Амбала</span>
              <span class="employee__position">Менеджер по MENA</span>
            </div>
          </div>
        </div>

        <div class="tabs__body-right">
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;5,5
              <span>Млрд</span>
            </div>
            <span class="tabs__body-caption">Инвестиции pre-seed, seed</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">&#62;300

            </div>
            <span class="tabs__body-caption">Акселераторов, инкубаторов</span>
          </div>
          <div class="tabs__body-item">
            <div class="tabs__body-stats">73
            </div>
            <span class="tabs__body-caption">Венчурных фонда</span>
          </div>
          <div class="tabs__body-item tabs__body-item--link">
            <a href="#" class="tabs__body-download">
              <img src="img/download_icon.svg" alt="Скачать" class="tabs__body-img">
              <span>Скачать отчет
                по рынку MENA</span>
            </a>
          </div>
        </div>
        <a href="#" class="tabs__body-btn btn btn-reset btn--gradient tabs__body-btn--mobile">Выйти на рынок</a>
      </div>
    </div>
  </div>
</section>